<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
<style>
    .table-wrapper {
        margin-top: 50px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .add-player-form {
        margin-top: 50px;
    }
</style>
<body>
<div class="page-wrapper">
   

<div class="container">
  
        <form class="add-user-form" action="/user/register" method="post" enctype="multipart/form-data">
            <div class="form-row">
                
                

                <div class="form-group col-md-4">
                    <label for="username">User Name</label>
                    <input type="text" class="form-control" name="username" id="username"  required>
                </div>
                <div class="form-group col-md-4">
                    <label for="password">Password</label>
                    <input type="text" class="form-control" name="password" id="password" " required>
                </div>
                
            </div>
            
           
           <button type="submit" class="btn btn-success float-right">Add User</button>
        </form>
        

            <p class="text-center">Not logged in. Go <a href="/loginform" >here</a> to Login</p>
           
</div>
</div>
</body>
</html>

